@import url('variables.css');
@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-font-default);
    /* background-color: var(--color-terciario); */
    background: rgb(168,73,192);
    background: linear-gradient(90deg, rgba(168,73,192,1) 0%, rgba(48,88,176,1) 100%);
}

a {
    text-decoration: none;
}
