@import url('variables.css');
@import url('fonts.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--color-terciario);            
    font-family: 'Open Sans', sans-serif;
    color: var(--color-font-default);    
}

a {
    text-decoration: none;
}

main {
    min-height: 200vh;
}


