:root {
    /* Colores */
    --color-primario: #A849C0;
    --color-secundario: #3058B0;
    --color-terciario: #ffffff;

    --color-primario-1: #682e77;
    --color-terciario-1: #ffffffd0;
    --color-font-default: #0e0e0e;
    --color-font-alto-contraste: #000000;

    --color-boton-hero: #000000;
    --color-boton-hero-hover: #7d00d1;
    
    /* Sombras */
    --sombra-1: 0 0 0.625rem #0000002c;
    --sombra-2: 0 0 0.625rem #ffffff8e;    

    /* Gradientes */        
    --gradiente-1: linear-gradient(90deg, #d428ff9d 0%, #2c87ffb3 100%);
    
}