:root {
    /* Colores */
    --color-primario: #A849C0;
    --color-secundario: #3058B0;
    --color-terciario: #ffffff;

    --color-primario-1: #712e81;
    --color-terciario-1: #ffffffd0;
    --color-font-default: #0e0e0e;

    /* Sombras */
    --sombra-1: 0 0 0.625rem #0000002c;
}