.boton {
    display: flex;
    cursor: pointer;
}

.boton-menu {
    justify-content: center;
    align-items: center;    
    border: none;
    background-color: transparent;
    color: var(--color-primario-1);    
}

.boton-menu-cerrar {
    border: 2px solid var(--color-primario-1);
    
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.boton-menu svg {
    height: 2rem;    
}
    