footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 10vh;
    padding: 0 10px;
    background-color: var(--color-secundario);
    color: var(--color-terciario);
}

footer .social-container a.social-link:not(a.social-link:last-child) {
    margin-right: 5px;
}

footer .social-container a.social-link svg {
    height: 1.5rem;
    width: 1.5rem;
}
